table, td, th {
		border-radius: 10px;}

td{
	height: 80px;
	width:350px;
	padding: 10px;
	}
.time{
	width: 50px;}
th{
	height:30px;
	background: #FDCFFA;}
.caos{background: #A7AAE1;}
.prog{background: #9B5DE0;}
.math{background: #D78FEE;}
.ppd{background: #F2AEBB;}
.web{background: #F5D3C4}